# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause

# needed for M.2 pwrseq driver
# https://lore.kernel.org/linux-pci/20260501164440.11788-1-manivannan.sadhasivam@oss.qualcomm.com/
CONFIG_POWER_SEQUENCING_PCIE_M2=m

# override qcom-next prune.config as we need this on Lenovo T14s Gen6 (hamoa);
# see https://github.com/qualcomm-linux/kernel/issues/1148
CONFIG_DRM_SIMPLE_BRIDGE=m
