# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause

# needed for M.2 pwrseq driver
# https://lore.kernel.org/linux-pci/20260501164440.11788-1-manivannan.sadhasivam@oss.qualcomm.com/
CONFIG_POWER_SEQUENCING_PCIE_M2=m

# override qcom-next prune.config as we need this on Lenovo T14s Gen6 (hamoa);
# see https://github.com/qualcomm-linux/kernel/issues/1148
CONFIG_DRM_SIMPLE_BRIDGE=m

# helps avoiding cpuidle.off=1 workaround on some platforms
CONFIG_QCOM_CPUCP_MBOX=y

# Qualcomm SPEL (SoC Power and Electrical Limits) powercap driver, useful on
# Glymur/X2; the driver comes from
# https://lore.kernel.org/all/20260702-qcom_spel_driver_upstream-v3-0-434d50f0c5b0@oss.qualcomm.com/
# but the defconfig patch was not yet set, pending the inclusion of the
# patchset upstream; see #718
CONFIG_POWERCAP=y
CONFIG_QCOM_SPEL=m

# Omnivision sensor on Zenbooks
CONFIG_VIDEO_OV02C10=m

# defconfig sets DEBUG_KERNEL=y which implies DMABUF_DEBUG=y; the msm driver
# relies on some internal details that aren't provided when this is set, so
# disable that for the libcamera GPU backend to work
CONFIG_DMABUF_DEBUG=n
