# CONFIG_SCSI_VIRTIO is not enabled in the upstream defconfig but it is needed
# when running qemu with such a backend, e.g. for testing or for the run-qemu
# script
CONFIG_SCSI_VIRTIO=m

# enable virtio gpu support for graphical output in QEMU
# see https://www.qemu.org/docs/master/system/devices/virtio/virtio-gpu.html
CONFIG_DRM_VIRTIO_GPU=m
