# support for USB CAN adapters for demos and testing
#
# this enables popular hardware like CANable, Candlelight and PEAK System
# PCAN-USB, supported by the slcan, gs_usb and peak_usb drivers respectively

# Serial / USB serial CAN Adaptors (slcan)
CONFIG_CAN_SLCAN=y
# Geschwister Schneider UG and candleLight compatible interfaces
CONFIG_CAN_GS_USB=y
# PEAK PCAN-USB/USB Pro interfaces for CAN 2.0b/CAN-FD
CONFIG_CAN_PEAK_USB=y
