# it's convenient to use generic USB devices for testing, but these are
# not enabled in the defconfig; this config fragment adds basic support
# for USB audio devices and USB webcams

# USB Audio Class driver
CONFIG_SND_USB_AUDIO=m

# Media subsystem
CONFIG_MEDIA_SUPPORT=y
# USB media device support
CONFIG_MEDIA_USB_SUPPORT=y    # USB media device support
# UVC driver
CONFIG_USB_VIDEO_CLASS=y
# V4L2 core support
CONFIG_VIDEO_DEV=y

