name: Build on push to branch

on:
  push:
    branches: [main, lava-board-expectations]

# implicitely set all other permissions to none
permissions:
  checks: write # lava-test.yml
  contents: read # debos.yml lava-schema-check.yml lava-test.yml
  packages: read # lava-test.yml
  pull-requests: write # lava-test.yml

jobs:
  debos-on-push:
    uses: ./.github/workflows/debos.yml
  schema-check:
    uses: ./.github/workflows/lava-schema-check.yml
  lava-on-push:
    uses: ./.github/workflows/lava-test.yml
    needs: [debos-on-push, schema-check]
    secrets: inherit
    with:
      boards_json: ${{ needs.debos-on-push.outputs.boards_json }}
      url: ${{ needs.debos-on-push.outputs.artifacts_url }}
