name: LAVA test jobs

on:
  workflow_call:
    inputs:
      boards_json:
        required: true
        type: string
      url:
        required: true
        type: string

# implicitely set all other permissions to none
permissions:
  checks: write # EnricoMi/publish-unit-test-result-action
  contents: read # actions/checkout
  packages: read # actions/download-artifact
  pull-requests: write # EnricoMi/publish-unit-test-result-action

env:
  BUILD_URL: ${{ inputs.url }}

jobs:
  submit-job:
    runs-on: ubuntu-latest
    name: LAVA tests for ${{ matrix.device_type }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(inputs.boards_json) }}
    steps:
      - name: Print trigger and build URL
        run: |
          echo "Triggered by ${{ github.event_name }}"
          echo "Build URL: $BUILD_URL"

      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Gen job yaml ${{ matrix.device_type }}
        run: |
          DEVICE_TYPE="${{ matrix.device_type }}"
          STORAGE="${{ matrix.storage }}"
          BUILD_DOWNLOAD_URL="$BUILD_URL"
          BUILD_FILE_NAME="flash-${STORAGE}.tar.gz"
          ROOTFS_IMAGE="undefined"
          case "$STORAGE" in
            emmc)
              ROOTFS_IMAGE="disk-sdcard.img2"
              ;;
            ufs)
              ROOTFS_IMAGE="disk-ufs.img2"
              ;;
          esac
          sed \
              -e "s|{{BUILD_DOWNLOAD_URL}}|${BUILD_DOWNLOAD_URL}|g" \
              -e "s|{{BUILD_FILE_NAME}}|${BUILD_FILE_NAME}|g" \
              -e "s|{{DEVICE_TYPE}}|${DEVICE_TYPE}|g" \
              -e "s|{{GITHUB_REPOSITORY}}|${GITHUB_REPOSITORY}|g" \
              -e "s|{{GITHUB_RUN_ATTEMPT}}|${GITHUB_RUN_ATTEMPT}|g" \
              -e "s|{{GITHUB_RUN_ID}}|${GITHUB_RUN_ID}|g" \
              -e "s|{{GITHUB_SHA}}|${GITHUB_SHA}|g" \
              -e "s|{{STORAGE}}|${STORAGE}|g" \
              -e "s|{{ROOTFS_IMAGE}}|${ROOTFS_IMAGE}|g" \
              ci/lava/job-template.yaml |
              tee "ci/lava/${DEVICE_TYPE}.yaml"

      - name: Submit ${{ matrix.device_type }}
        timeout-minutes: 240
        uses: foundriesio/lava-action@v9
        with:
          lava_token: ${{ secrets.LAVATOKEN }}
          lava_url: lava.infra.foundries.io
          job_definition: ci/lava/${{ matrix.device_type }}.yaml
          wait_for_job: true
          fail_action_on_failure: false
          save_result_as_artifact: true
          save_job_details: true

  publish-test-results:
    name: Publish Tests Results
    needs: submit-job
    runs-on: ubuntu-latest

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: List files
        run: |
          echo $GITHUB_WORKSPACE
          ls -R $GITHUB_WORKSPACE

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: ${{ github.workspace }}/artifacts/**/*.xml

      - name: Publish Test Job Details
        run: |
          for json_file in $(find ${{ github.workspace }} -name "test-job-*.json")
          do
              DEVICE_TYPE=$(cat "$json_file" | jq -r ".requested_device_type")
              URL=$(cat "$json_file" | jq -r ".url")
              JOB_ID=$(cat "$json_file" | jq -r ".id")
              echo " * [Job $JOB_ID on $DEVICE_TYPE]($URL)"
              echo " * [Job $JOB_ID on $DEVICE_TYPE]($URL)" >> $GITHUB_STEP_SUMMARY
          done
