name: Daily qcom-next linux build

on:
  # run daily at 6:30am
  schedule:
    - cron: '30 6 * * *'
  # allow manual runs
  workflow_dispatch:

permissions:
  checks: write # linux.yml
  contents: read # linux.yml
  packages: read # linux.yml
  pull-requests: write # linux.yml

jobs:
  build:
    # don't run cron from forks of the main repository or from other branches
    if: github.repository == 'qualcomm-linux/qcom-deb-images' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/linux.yml
    with:
      kernel_name: qcom-next
      build_linux_deb_extra_args: '--qcom-next'
    secrets: inherit
