name: Build Linux kernel deb and debos image

on:
  workflow_call:
    inputs:
      kernel_name:
        description: 'Name of the kernel to build (default: mainline)'
        required: false
        type: string
        default: 'mainline'
      debos_extra_args:
        description: Extra arguments to pass to debos (e.g. -t dtb:qcom/some.dtb)
        required: false
        type: string
        default: ''
      build_linux_deb_extra_args:
        description: Extra arguments to pass to build-linux-deb.py
        required: false
        type: string
        default: ''
      skip_qemu_tests:
        description: Skip QEMU tests
        required: false
        type: boolean
        default: false
  # allow manual runs
  workflow_dispatch:
    inputs:
      kernel_name:
        description: 'Name of the kernel to build (default: mainline)'
        required: false
        type: string
      debos_extra_args:
        description: Extra arguments to pass to debos (e.g. -t dtb:qcom/some.dtb)
        required: false
        type: string
      build_linux_deb_extra_args:
        description: Extra arguments to pass to build-linux-deb.py
        required: false
        type: string

# implicitely set all other permissions to none
permissions:
  checks: write # lava-test.yml
  contents: read # actions/checkout debos.yml lava-test.yml
  packages: read # lava-test.yml
  pull-requests: write # lava-test.yml

env:
  # where results will be posted/hosted
  FILESERVER_URL: https://quic-yocto-fileserver-1029608027416.us-central1.run.app
  # github runs are only unique per repository and may also be re-run; create a
  # build id for the current run
  BUILD_ID: ${{ github.repository }}-${{ github.run_id }}-${{ github.run_attempt }}
  # name of the kernel being built
  KERNEL_NAME: ${{ inputs.kernel_name || 'mainline' }}
  # extra args to pass to build-linux-deb.py
  BUILD_LINUX_DEB_EXTRA_ARGS: ${{ inputs.build_linux_deb_extra_args }}

# cancel in progress builds for this workflow triggered by the same ref
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.kernel_name || 'mainline' }}
  cancel-in-progress: true

jobs:
  build-linux-deb:
    # don't run cron from forks of the main repository or from other branches
    if: github.repository == 'qualcomm-linux/qcom-deb-images' && github.ref == 'refs/heads/main'
    # for cross-builds
    runs-on: [self-hosted, qcom-u2404, amd64]
    # alternative for native builds, but overkill to do both
    #runs-on: [self-hosted, qcom-u2404, arm64]
    container:
      image: public.ecr.aws/debian/debian:trixie
      volumes:
        - /efs/qli/metaqcom/gh-runners/quic-yocto/downloads:/fileserver-downloads
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # make sure we have latest packages first, to get latest fixes, to avoid
      # an automated update while we're building, and to prevent version skews
      - name: Update OS packages
        run: |
          set -ux
          apt update
          apt -y upgrade
          apt -y full-upgrade

      - name: Build Linux kernel deb
        run: |
            set -ux
            # download arm64 package lists to install cross build-dependencies
            if [ "$(dpkg --print-architecture)" != arm64 ]; then
                dpkg --add-architecture arm64
                apt update
            fi
            # install build-dependencies; TODO: --no-install-recommends
            apt -y install git crossbuild-essential-arm64 make flex bison bc \
                libdw-dev libelf-dev libssl-dev libssl-dev:arm64 dpkg-dev \
                debhelper kmod python3 rsync coreutils
            scripts/build-linux-deb.py ${BUILD_LINUX_DEB_EXTRA_ARGS} \
                `ls kernel-configs/*.config | sort` \

      - name: Stage artifacts for upload
        run: |
          set -ux
          # dcmd from devscripts will be used to parse .changes file
          apt -y install --no-install-recommends devscripts
          # stage artifacts in a directory
          mkdir -v artifacts
          cp -av `dcmd *.changes` artifacts

      - name: Upload results to fileserver space for downloads
        run: |
          set -ux
          export BUILD_DIR="/fileserver-downloads/${BUILD_ID}"
          mkdir -vp "${BUILD_DIR}"
          cp -av artifacts/* "${BUILD_DIR}"
          # create or update symlink
          mkdir -vp /fileserver-downloads/qcom-deb-images
          ln -fnsv "../${BUILD_ID}" \
              "/fileserver-downloads/qcom-deb-images/${KERNEL_NAME}"
          # perhaps help NFS sync
          sync

      - name: Upload private artifacts
        uses: qualcomm-linux/upload-private-artifact-action@v1
        id: upload_artifacts
        with:
          path: artifacts

  debos-linux-deb:
    needs: build-linux-deb
    uses: ./.github/workflows/debos.yml
    with:
      kernelpackage: fileserver/${{ inputs.kernel_name || 'mainline' }}
      debos_extra_args: ${{ inputs.debos_extra_args }}
      skip_qemu_tests: ${{ inputs.skip_qemu_tests || false }}

  test-linux-deb:
    uses: ./.github/workflows/lava-test.yml
    needs: debos-linux-deb
    secrets: inherit
    with:
      url: ${{ needs.debos-linux-deb.outputs.artifacts_url }}
