name: Weekly mainline linux build

on:
  # run weekly on Monday at 6:30am
  schedule:
    - cron: '30 6 * * 1'

permissions:
  checks: write # linux.yml
  contents: read # linux.yml
  packages: read # linux.yml
  pull-requests: write # linux.yml

jobs:
  build:
    # don't run cron from forks of the main repository or from other branches
    if: github.repository == 'qualcomm-linux/qcom-deb-images' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/linux.yml
    with:
      kernel_name: mainline
    secrets: inherit
